
SimpleFunction/Saved/SourceControl/UncontrolledChangelists.json
SimpleFunction/Saved/Logs/SimpleFunction.log
SimpleFunction/Saved/Logs/SimpleFunction-backup-2024.03.07-14.02.23.log
SimpleFunction/Saved/Logs/SimpleFunction-backup-2024.03.06-15.16.11.log
SimpleFunction/Saved/Logs/SimpleFunction-backup-2024.03.06-15.02.34.log
SimpleFunction/Saved/Crashes/UECC-Windows-EFF160754ECCC5655EC5B8AA8BDCEC45_0000/UEMinidump.dmp
SimpleFunction/Saved/Crashes/UECC-Windows-EFF160754ECCC5655EC5B8AA8BDCEC45_0000/SimpleFunction.log
SimpleFunction/Saved/Crashes/UECC-Windows-EFF160754ECCC5655EC5B8AA8BDCEC45_0000/CrashReportClient.ini
SimpleFunction/Saved/Crashes/UECC-Windows-EFF160754ECCC5655EC5B8AA8BDCEC45_0000/CrashContext.runtime-xml
SimpleFunction/Saved/Crashes/UECC-Windows-C4A8F5A240C4CF7058ACAB929050662B_0000/UEMinidump.dmp
SimpleFunction/Saved/Crashes/UECC-Windows-C4A8F5A240C4CF7058ACAB929050662B_0000/SimpleFunction.log
SimpleFunction/Saved/Crashes/UECC-Windows-C4A8F5A240C4CF7058ACAB929050662B_0000/CrashReportClient.ini
SimpleFunction/Saved/Crashes/UECC-Windows-C4A8F5A240C4CF7058ACAB929050662B_0000/CrashContext.runtime-xml
SimpleFunction/Saved/Crashes/UECC-Windows-992AA3104786BC9776A02EB63DDA52AC_0000/UEMinidump.dmp
SimpleFunction/Saved/Crashes/UECC-Windows-992AA3104786BC9776A02EB63DDA52AC_0000/SimpleFunction.log
SimpleFunction/Saved/Crashes/UECC-Windows-992AA3104786BC9776A02EB63DDA52AC_0000/CrashReportClient.ini
SimpleFunction/Saved/Crashes/UECC-Windows-992AA3104786BC9776A02EB63DDA52AC_0000/CrashContext.runtime-xml
SimpleFunction/Saved/Config/WorldState/1658747011.json
SimpleFunction/Saved/Config/WindowsEditor/VariantManagerContent.ini
SimpleFunction/Saved/Config/WindowsEditor/TraceDataFilters.ini
SimpleFunction/Saved/Config/WindowsEditor/Synthesis.ini
SimpleFunction/Saved/Config/WindowsEditor/Scalability.ini
SimpleFunction/Saved/Config/WindowsEditor/RuntimeOptions.ini
SimpleFunction/Saved/Config/WindowsEditor/Paper2D.ini
SimpleFunction/Saved/Config/WindowsEditor/ObjectMixerSerializedData.ini
SimpleFunction/Saved/Config/WindowsEditor/Niagara.ini
SimpleFunction/Saved/Config/WindowsEditor/Metasound.ini
SimpleFunction/Saved/Config/WindowsEditor/Lightmass.ini
SimpleFunction/Saved/Config/WindowsEditor/Interchange.ini
SimpleFunction/Saved/Config/WindowsEditor/Input.ini
SimpleFunction/Saved/Config/WindowsEditor/Hardware.ini
SimpleFunction/Saved/Config/WindowsEditor/GLTFExporter.ini
SimpleFunction/Saved/Config/WindowsEditor/GameUserSettings.ini
SimpleFunction/Saved/Config/WindowsEditor/Game.ini
SimpleFunction/Saved/Config/WindowsEditor/FullBodyIK.ini
SimpleFunction/Saved/Config/WindowsEditor/EnhancedInput.ini
SimpleFunction/Saved/Config/WindowsEditor/Engine.ini
SimpleFunction/Saved/Config/WindowsEditor/EditorScriptingUtilities.ini
SimpleFunction/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
SimpleFunction/Saved/Config/WindowsEditor/Editor.ini
SimpleFunction/Saved/Config/WindowsEditor/DeviceProfiles.ini
SimpleFunction/Saved/Config/WindowsEditor/DatasmithContent.ini
SimpleFunction/Saved/Config/WindowsEditor/ControlRig.ini
SimpleFunction/Saved/Config/WindowsEditor/Compat.ini
SimpleFunction/Saved/Config/CrashReportClient/UECC-Windows-EFF160754ECCC5655EC5B8AA8BDCEC45/CrashReportClient.ini
SimpleFunction/Saved/Config/CrashReportClient/UECC-Windows-C4A8F5A240C4CF7058ACAB929050662B/CrashReportClient.ini
SimpleFunction/Saved/Config/CrashReportClient/UECC-Windows-992AA3104786BC9776A02EB63DDA52AC/CrashReportClient.ini
SimpleFunction/Saved/Config/CrashReportClient/UECC-Windows-7B59210C4ABE26005961F9982CF2C8CB/CrashReportClient.ini
SimpleFunction/Saved/AutoScreenshot.png
SimpleFunction/Saved/Autosaves/PackageRestoreData.json
SimpleFunction/Saved/Autosaves/Game/ThirdPerson/Blueprints/BP_ThirdPersonGameMode_Auto6.uasset
SimpleFunction/Saved/Autosaves/Game/ThirdPerson/Blueprints/BP_ThirdPersonGameMode_Auto5.uasset
SimpleFunction/Saved/Autosaves/Game/ThirdPerson/Blueprints/BP_ThirdPersonGameMode_Auto4.uasset
SimpleFunction/Saved/Autosaves/Game/ThirdPerson/Blueprints/BP_ThirdPersonGameMode_Auto3.uasset
SimpleFunction/Saved/Autosaves/Game/ThirdPerson/Blueprints/BP_ThirdPersonGameMode_Auto2.uasset
SimpleFunction/Saved/Autosaves/Game/ThirdPerson/Blueprints/BP_ThirdPersonGameMode_Auto1.uasset
SimpleFunction/Saved/Autosaves/Game/BasicMap_Auto1.umap
SimpleFunction/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
SimpleFunction/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
SimpleFunction/Intermediate/ShaderAutogen/PCD3D_ES3_1/AutogenShaderHeaders.ush
SimpleFunction/Intermediate/ReimportCache/3688439234.bin
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/ObjectMixerSerializedData.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/ObjectMixer.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/Input.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/Dataflow.ini
SimpleFunction/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
SimpleFunction/Intermediate/CachedAssetRegistry.bin
